<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.payrollsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PayrollSystem">
        <activity
            android:name=".PayslipReportActivity"
            android:exported="false" />
        <activity
            android:name=".SalaryReportActivity"
            android:exported="false" />
        <activity
            android:name=".SalaryCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".PayslipActivity"
            android:exported="false" />
        <activity
            android:name=".EditDeleteActivity"
            android:exported="false" />
        <activity
            android:name=".ViewEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".AddEmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>